---
const services = [
{
   step: '01',
   name: 'Native Ecosystem Restoration',
   alt: 'Wedding Festoon Lighting Installation Gold Coast',
   description:
     'Our restoration projects contribute to increased biodiversity, enhanced habitat connectivity, and improved ecosystem resilience in the face of climate change.',
   link: '/ecosystem-restoration',
   img: '/img/banksia.jpg',
 },
 {
   step: '02',
   name: 'Native landscaping',
   alt: 'Commercial Event Lighting and Professional Installation',
   description:
     'Our coastal rehabilitation services address the unique challenges faced by Gold Coasts shoreline ecosystems. We implement dune stabilization techniques using native grasses and salt-tolerant species.',
   link: '/native-landscaping',
   img: '/img/grevillea.jpg',

 },
 {
   step: '03',
   name: 'Horticultural Maintenance',
   alt: 'Festival and Event Lighting Installation Gold Coast',
   description:
     'Our maintenance teams implement sustainable care practices including water-wise irrigation management, organic pest control, and strategic pruning that enhances plant health and natural form.',
   link: '/horticultural-maintenance',
   img: '/img/banksia-flower.jpg',
 },
 {
   step: '04',
   name: 'Landscaping Projects',
   alt: 'Bar and Restaurant Outdoor Lighting Solutions',
   description:
     'We design and construct landscapes that tell a story of place, connecting people with the unique natural character of the Gold Coast through thoughtful plant selection and sustainable materials.',
   link: '/landscaping-projects',
   img: '/img/banksia-flower-closeup.jpg',
 },
];
---

<style>
  
  #heroArea { height: calc(100vh - 113px); min-height: 850px; display: flex; justify-content: center; align-items: center; }

  @media screen and (max-width: 1680px) {
    #heroArea {
      height: calc(100vh - 80px);
    }
  }

  @media screen and (max-width: 768px) {
    #heroArea {
      height: auto;
    }
  }

  .image-container {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 0.75rem; /* Optional: Adds rounded corners */
}

@media screen and (max-width: 568px) {
    .image-container {
      min-height: 340px;
    }
  }

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

  #contain { max-width: 1920px; }
</style>

<section id="heroArea" class="">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8 py-8 my-16 md:my-24">
    <div class="">
      <div class="flex flex-col xl:flex-row items-start lg:items-center gap-8 sm:gap-12">
        <div id="textContainer" class="w-full xl:w-1/2 gap-6">
          <h1 class="text-base lg:text-lg uppercase font-thin tracking-widest pb-4">
            Gold Coast Landscaping and Eco-system Restorations
          </h1>
          <h2 id="text-anim" class="font-medium tracking-tighter md:tracking-tight text-4xl xs:text-5xl md:text-6xl xl:text-6xl max-w-5xl xl:max-w-3xl">
            Native Ecosystem Landscaping Experts.
          </h2>
          <p class="text-lg md:text-xl max-w-5xl xl:max-w-3xl my-4">
            The Horticulture Company is your premier partner for ecological restoration and landscaping excellence. 
            Our dedicated team of experts combines botanical knowledge with artistic vision to transform landscapes 
            while honoring Australia's natural heritage. With over a decade of experience, we bring native ecosystems 
            back to life through sustainable practices and innovative solutions.
          </p>
          
          <a
            href="/products"
            class="mt-6 mr-2 bg-primary-600 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Products
          </a>
          <a
            href="/services"
            class="mt-6 mr-2 bg-primary-600 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Services
          </a>
        </div>
        
        <div id="cardContainer" class="servicesContainer w-full xl:w-1/2 items-start">
          <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-2">
            {services.map((service) => (
              <a rel="canonical" href={service.link}>  
                <div id="serviceCard" class="text-secondary-950 dark:text-secondary-100 bg-secondary-400/10 hover:bg-secondary-600/20 dark:bg-secondary-800/40 dark:hover:bg-secondary-600/50 border-primary-900/10 dark:border-primary-300/10 duration-200 border rounded-xl md:rounded-3xl px-4 md:px-6 py-8 lg:py-12 h-full flex flex-col justify-center gap-4 relative overflow-hidden">
                  
                  {/* Background image for small screens (hidden on md and above) */}
                  <div class="absolute inset-0 w-full h-full xl:hidden">
                    <img src={service.img} class="w-full h-full object-cover" alt={service.name} />
                    {/* Gradient overlay */}
                    <div class="absolute inset-0 bg-gradient-to-r from-secondary-950/90 to-secondary-30/50"></div>
                  </div>
                  
                  <div class="w-full flex flex-row-reverse sm:flex-col md:flex-row-reverse items-center justify-center gap-6 relative z-10">
                    <div class="w-full mx-auto md:ml-2 flex flex-col gap-4">
                      {/* Image visible only on md screens and above */}
                      <div class="image-container hidden xl:block">
                        <img src={service.img} class="w-full rounded-xl" alt={service.name} />
                      </div>
                      <h3 class="text-left text-lg md:text-xl lg:text-2xl xl:text-3xl tracking-tight font-medium dark:text-white text-white xl:text-secondary-950">{service.name}</h3>
                      <p class="hidden xl:block text-base xs:text-lg pr-4 leading-6">
                        {service.description}
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            ))}
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section>
